.amChart-map {
  width: 100vw;
  height: 100vh;
}

.card-info {
  max-width: 80%;
  opacity: 0.8;
}

@media screen and (min-width: 768px) {
  .card-info {
    max-width: 50%;
  }
}

@media screen and (min-width: 1024px) {
  .card-info {
    max-width: 30%;
  }
}

.map-scroll-amchart-map {
  position: fixed;
}

.map-scroll-flex-div {
  display: flex;
  flex-direction: column;
  height: 500vh;
  /* height: 800%;
  width: 100vw; */
}

.map-scroll-flex-title-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.map-scroll-flex-learn-more-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.map-scroll-flex-normal-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 300%; */
  visibility: visible;
  height: 100%;
}

.map-scroll-card-background-white {
  background-color: white !important;
}

.map-scroll-card-background-primary {
  background-color: #ffb800 !important;
}
