:root {
  --primary-color: #ffb800;
  --primary-light: #ffea4d;
  --primary-dark: #c78800;
  --secondary-color: #202123;
  --secondary-light: #47484b;
  --secondary-dark: #000000;
  --color-white: #fff;
  --color-black: #000;
  width: 100vw;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif !important;
  background-color: var(--secondary-color) !important;
}

/* Typography */
h1,
h2,
h3 {
  color: var(--color-white);
  margin-bottom: 1rem;
  line-height: 1.1;
}

h1 {
  font-size: 7rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
  font-weight: 500;
}

/* NavBar */
.nav-color {
  background-color: var(--primary-color);
}

.navbar-brand {
  font-size: 2rem !important;
  font-weight: 500 !important;
}

.nav-link {
  font-size: 1.2rem;
}

/* Blocks */
.block {
  --padding-vertical: 6rem;
  padding: var(--padding-vertical) 2rem;
}

.block--primary {
  background-color: var(--primary-color);
  color: var(--color-white);
}

.block--secondary {
  background-color: var(--color-white);
  color: var(--primary-color);
}

.block--skewed-right {
  /* padding-bottom: cal(var(--padding-vertical) + 4rem); */
  clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 0% 100%);
}

.block--skewed-left {
  /* padding-bottom: calc(var(--padding-vertical) + 4rem); */
  clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 0% 100%);
}

.block--content {
  display: flex;
  justify-content: center;
}

/* Image */
.img-doc {
  max-width: 100%;
}

.img-stat {
  max-width: 50%;
}

.img-hero-background {
  background-image: url("./images/beach.jpg");
  width: 100%;
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* Card */
.card-counter {
  color: var(--color-black);
  font-weight: 800;
  font-size: xx-large;
}
