:root {
  --primary-color: #5d5d8c;
  --color-white: #fff;
  --color-black: #000;
  width: 100vw;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Typography */
h1,
h2,
h3 {
  color: var(--color-white);
  margin-bottom: 1rem;
  line-height: 1.1;
}

h1 {
  font-size: 7rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
  font-weight: 500;
}

/* NavBar */
.nav-color {
  background-color: var(--primary-color);
}

/* Blocks */
.block {
  --padding-vertical: 6rem;
  padding: var(--padding-vertical) 2rem;
}

.block--dark {
  background-color: var(--primary-color);
  color: var(--color-white);
}

.block--light {
  background-color: var(--color-white);
  color: var(--primary-color);
}

.block--skewed-right {
  padding-bottom: cal(var(--padding-vertical) + 4rem);
  clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 0% 100%);
}

.block--skewed-left {
  padding-bottom: calc(var(--padding-vertical) + 4rem);
  clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 0% 100%);
}

/* Image */
img {
  max-width: 100%;
}
